.backdrop {
    background: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
}

/* .header {
    height: 10%;

} */

.chatSx {
    width: 30%;
    border: 1px solid gray;
}

.chatDx {
    width: 70%;
    border: 1px solid gray;
}

.headerChat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    background-color: #a5afbd;
}

.headerChat div img {
    width: 10%;

}

.mainChat {
    height: 80%;
    background-image: url(../img/mine.jpg);
    background-size: 30%;
}

.footChat {
    height: 10%;
    background-color: #a5afbd;
}


.textMyname {
    font-size: 10px;
}

.settingI {
    cursor: pointer;
}

.notifications {
    height: 10%;
    background-color: rgb(56, 141, 221);
}

.notifications i {
    padding: 10px;
    color: rgb(56, 141, 221);
    background-color: #fff;
}

.notif {
    font-size: 10px;
}

.searchArea {
    height: 8%;
    background-color: #a5afbd;
}

#infoChat {
    height: 10%;

}

#infoChat div:hover {
    background-color: #83ace6;
}

.avatarImg {
    max-width: 50px;
}

.chatDiv {
    width: 80%;
}

.sent {
    background-color: #fff;
    align-self: flex-end;
}

.received {
    background-color: lightgray;
    align-self: flex-start;
}